/*element*/
li
{

}

/*class*/
.hello{

}

/*id*/
#name{

}
/*Star*/
*{
	border:1px solid lightgrey;
}

/*Descendent Selector*/

ul li a{
   color: red;
}
li .hello{

}

/*Adjacent Selector*/
h4 + ul 
{ 
	border: 4px solid red;
}

/*Attrribute Selector*/
a[href="http://www.google.com"]
{
	background: grey;
}

input [type ="text"]
{

}

/*nth of type*/
ul:nth-of-type(3)
{
	background: purple;
}
li:nth-of-type(even)
{
	background: orange;
}






