h1{
	text-align: center;

}
td
{
	width: 100px;
	height: 100px;
	/*background: pink;*/
}
table{
	margin: auto;
}
.side
{
	border-left: 2px solid black;
	border-right: 2px solid black
}

.TB{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#speicial{
	border-top: 2px solid black;
	border-bottom: 2px solid black;	
}